@inject IApiBroker apiBroker;
@using ServiceWizard.Client.Brokers.API
@using ServiceWizard.Shared.Clients.Commands.CreateClient
@using ServiceWizard.Shared.Tasks.Commands
@if(!addClientOk)
{
<EditForm Model="@addClient" OnValidSubmit="OnSubmitMethod">
    <DataAnnotationsValidator />
    <MudGrid>
        <MudItem xs="12" md="6">
            <MudCard>
                <MudCardHeader>
                    <MudText Typo="Typo.h6">Nowy klient</MudText>
                </MudCardHeader>
                <MudCardContent>
                        <MudTextField Label="Imię" HelperText="pole wymagane" @bind-Value="addClient.FirstName" Variant="Variant.Outlined" Margin="Margin.Dense" For="@(()=>addClient.FirstName)" />
                    <MudTextField Label="Nazwisko" HelperText="pole wymagane" @bind-Value="addClient.LastName" For="@(()=>addClient.LastName)" />
                    <MudTextField Label="Adres" HelperText="ulica oraz numer" @bind-Value="addClient.Address" For="@(()=>addClient.Address)"/>
                    <MudTextField Label="Kod pocztowy" HelperText="XX-XXX" @bind-Value="addClient.Zip" />
                    <MudTextField Label="Miasto" HelperText="Miejscowość" @bind-Value="addClient.City" />
                    <MudTextField Label="Telefon 1" HelperText="numer telefonu" @bind-Value="addClient.Phone1" />
                    <MudTextField Label="Telefon 2" HelperText="numer telefonu" @bind-Value="addClient.Phone2" />
                    <MudTextField Label="Email" HelperText="email" @bind-Value="addClient.Email" />
                    <MudTextField Label="Opis" HelperText="dodatkowe informacje" @bind-Value="addClient.Description" />
                    </MudCardContent>
                    <MudCardActions>
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit">Zapisz</MudButton>

                    </MudCardActions>                 
              
            </MudCard>
        </MudItem>
    </MudGrid>
   
</EditForm>
}
else
{
    <div class="alert alert-success" role="alert">
        <p>Klient został dodany
            <button class="btn btn-success" @onclick="RefreshState">Dodaj kolejnego</button>
        </p>
    </div>

}

@code {
    [Parameter]
    public CreateClientVm addClient { get; set; }
    private bool addClientOk = false;
    private void OnSubmitMethod(EditContext editContext)
    {
        if (editContext.Validate())
        {
            Console.WriteLine("Yeah zwalidowano i wysłano!");
            var id =  apiBroker.CreateClientAsync(addClient);
            if(id != null)
            {
               addClientOk = true;
            }
            else
            {
                Console.WriteLine("Nie udało się dodać klienta");
            }

        }
        else
        {
            Console.WriteLine("Dupa nie poszło");
        }
    }
    private void RefreshState()
    {      
        addClient = new CreateClientVm();
        addClientOk = false;
        StateHasChanged();
    }

}
