@page "/TaskRepair/TaskAdd"
@using ServiceWizard.Shared.Tasks.Commands
@using ServiceWizard.Client.Components.Task.EditComponents
@inject HttpClient Http

<h1 class="fs-5">Dodaj naprawę:</h1>

<EditForm Model="@addTask" OnSubmit="OnSubmitMethod">
    <DataAnnotationsValidator />
    <TaskAddComponent addTask="@addTask"/>
    <input type="submit" value="Dodaj naprawę" class="btn btn-success form-control">
    <ValidationSummary/>
</EditForm>

@code {
    public AddTaskVm addTask { get; set; } = new();

    private void OnSubmitMethod(EditContext editContext)
    {
        if (editContext.Validate())
        {
            Console.WriteLine("Yeah zwalidowano i wysłano!");
        }
        else
        {
            Console.WriteLine("Dupa nie poszło");
        }
    }
}
