@page "/Clients/NewClient"
@using ServiceWizard.Client.Components.Client.EditComponents
@using ServiceWizard.Shared.Clients.Commands.CreateClient
<h3>Dodaj klienta:</h3>
 <div class="col-sm-12 col-md-10 col-lg-8 col-xxl-6">
<CreateNewClientComponent addClient="@addClient" />
</div>
@code {
    public CreateClientVm addClient { get; set; } = new();

}
