@page "/"
<PageTitle>Service Wizard - Pomocnik serwisanta.</PageTitle>
<HeadContent>  
    <meta name="description" content="Strona główna aplikacji - ServiceWizard"

</HeadContent>


<h1>Strona startowa</h1>

Welcome to your new app.

<SurveyPrompt Title="werwer" Number="23"></SurveyPrompt>
