@inherits LayoutComponentBase

<div class="page">
    <main>
        <article class="content px-4">
                    @Body
        </article>
        <a href="/">Powrót do strony głównej</a>
    </main>
</div>