<div class="top-new-row px-4">
    <div class="me-auto">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true"></span>Start-Counter
        </NavLink>
    </div>
    <div class="me-auto">
        <NavLink class="nav-link" href="MainPanel/Summary">
            <span class="oi oi-plus" aria-hidden="true"></span>Start-Counter2
        </NavLink>
    </div>
    <div class="ms-auto">
        <NavLink class="nav-link" href="counter">
            <span class="oi oi-plus" aria-hidden="true">Counter</span>
        </NavLink>
    </div>
    <div class="ms-auto">
        <NavLink class="nav-link" href="MainPanel/TaskAdd">
            <span class="oi oi-plus" aria-hidden="true"></span> Dodaj zadanie
        </NavLink>
    </div>



</div>
@code {

}
